# This package uses private ImagineOn GitHub Package Registry packages as it's dependencies.
# See https://help.github.com/en/github/managing-packages-with-github-package-registry/configuring-npm-for-use-with-github-package-registry#installing-a-package

# registry=https://npm.pkg.github.com/imagineon