name: Generate bundle
on:
  push:
    branches: [ main ]
    #paths:
    #  - 'bundles/test/**'
env:
  BUNDLE: "test"

jobs:
  generate-bundle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node.js environment
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '14'

      - name: Install npm packages
        uses: bahmutov/npm-install@v1

      - name: Create bundle directory
        run: mkdir bundle

      - name: Create app directory
        run: mkdir ./bundle/app

      - name: Move scripts
        run: mv ./scripts ./bundle

      - name: Move node-deamon config
        run: mv ./app.config.js ./bundle

      - name: Move appspec.yml config
        run: mv ./appspec.yml ./bundle

      - name: Move npm config
        run: mv ./.npmrc ./bundle

      - name: Move bundle
        run: mv ./bundles/$BUNDLE/* ./bundle/app/

      - name: Create .zip file
        run: gulp bundle --client $BUNDLE

      - name: Get .zip file name
        run: |
          echo "::set-output name=BUNDLE_FILE_PATH::build/`ls ./build`"
          echo "::set-output name=BUNDLE_FILE_NAME::`ls ./build`"
        id: files

      - name: Test file names
        run: |
          echo ${{ steps.files.outputs.BUNDLE_FILE_NAME }}
          echo ${{ steps.files.outputs.BUNDLE_FILE_PATH }}

      #- name: Upload artifact
      #  uses: actions/upload-artifact@v2
      #  with:
      #    name: bundle
      #    path: ./bundle